 .about-us p {line-height:24px; padding-top:5px; padding-bottom:10px;}
    .about-us h3 {color:#2b96cc;; padding-top:30px;}
    .about-us hr {border-color:#d8d8d8;}
    .about-us h4 {padding:16px 0px; font-weight: 500;     font-size: 28px;}
    .about-us h4 span {font-weight: 800;}
    .about-us ul, .about-us ol {padding-bottom:15px; padding-left:0px; font-size: 14px;     font-weight: 700;}
    .about-us ul li, .about-us ol li {margin-bottom:10px;     display: flex;}
.about-us ul li span, .about-us ol li span {margin-right: 6px; color: #2b96cc;      font-size: 14px;}
    .about-us img {border-radius:6px; border:3px solid rgba(0,0,0,0.1)}
.banner_abt {
    background-image: url(../images/slider1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 40px;
    min-height: 150px; 
}
.abt_header{
    padding-bottom: 30px;
}
.bnr .head_main_cap{
    font-size: 27px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    font-weight: 700;
    margin-bottom: 0px;
    letter-spacing: 1px; 
}
.img_side img {
    border-radius: 6px;
    border: 3px solid rgba(0,0,0,0.1);
    /* margin-top: 20px; */
    margin-bottom: 20px;
}
.about-us .cust_img_side img {
    border-radius: 0px;
    border: 0px solid rgba(0,0,0,0.1);
}
.cust_img_side {
    margin-top: 24px;
}

.Our_clients{
    background-image: url(../images/client_bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 40px;
    min-height: 150px; 
}

/*-- 26/04/2019 (Jeseem) --*/

.legal_pts ul {
	justify-content: flex-end;
}

.contSec {
	padding: 70px 0px;
}

.contact_map {
	margin-bottom: 30px;
}

.submit_btn {
	width: 120px;
	padding: 10px 20px;
	color: #fff;
	font-size: 16px;
	border-radius: 0px;
	background: #004c70;
	font-weight: 600;
	text-transform: uppercase;
}

.aboutUs input[type=text] {
	height: 46px;
	padding: 12px 16px;
	border-radius: 0px;
}

.aboutUs textarea {
	padding: 12px 16px;
	border-radius: 0px;
	resize: none;
}

.aboutUs address p {
	line-height: 26px;
	margin-bottom: 5px;
	display: inline-block;
}

.aboutUs address p > i {
	width: 22px;
	float: left;
	margin-top: 5px;
}

.aboutUs address p > span {
	width: calc(100% - 22px);
	float: left;
}